/* Main CSS for Resume Website */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-weight: normal;
    color: #ffffff;

} 
h2, h3 {
    font-weight: normal;
    color: #ADD8E6;
}

p {
    font-size: 1.1rem;
    color: #ddd;
}

/* Header Styles */
.header {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0;
    color: white;
}

/* Sidebar Toggle Button Styles */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: #ADD8E6;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-toggle:hover {
    background-color: #555;
}

/* Pop-Out Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #ADD8E6;
}

/* Close Sidebar Button Styles */
.close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #ADD8E6;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-sidebar:hover {
    background-color: #555;
}

/* Introduction Section Styles */
.introduction {
    padding: 50px;
    text-align: center;
}

.introduction img {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    object-fit: cover;
}

/* About Me Section Styles */
.about-me {
    padding: 50px;
    background-color: #1a1a1a;
}

/* Career Highlights Section Styles */
.career-highlights {
    padding: 50px;
    text-align: center;
}

.career-highlights ul {
    list-style-type: none;
    padding: 0;
}

.career-highlights ul li {
    padding: 10px 0;
    color: #ADD8E6;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer .social-links a {
    color: #ADD8E6;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .social-links a:hover {
    color: #87CEFA;
}
